@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Parisienne&display=swap');
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
} */

/*
========================
Header area start
========================
*/

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* input:focus,
select:focus,
textarea:focus {
    box-shadow: none!important;
    border: 1px solid #CED4DA!important;
} */

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);   
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}

/*
========================
Header area start
========================
*/


/* header-area1 start */

.header-area1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#a2000a, #cf0000);
}

.hero-area1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-area1::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: url('images/tree.png') no-repeat;
    z-index: 1;
}

.hero-area1 .circle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
}

.hero-area1 .circle .img-area {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.hero-area1 .circle .img-area img {
    margin: -145px 0 0 24px;
}

.hero-area1 .circle::before {
    content: "";
    position: absolute;
    inset: -200px -300px;
    background: url('images/santa.png') no-repeat;
    background-position: center;
    background-size: 600px;
    animation: animate 5s ease-in-out infinite;
    bottom: -1110px;
    left: -250px;
}

@keyframes animate {
    0%,100% {
        transform: translateY(-25px);
    }

    50% {
        transform: translateY(25px);
    }
}

.hero-area1 .circle::after {
    font-family: 'Parisienne', cursive;
    font-size: 4em;
    content: "Happy New Year 2O23";
    position: absolute;
    inset: -125px -200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #ffff;
}

.hero-area1 .snow {
    position: relative;
    display: flex;

}

.hero-area1 .snow span {
    position: relative;
    min-width: 5px;
    height: 5px;
    background: #ffff;
    border-radius: 50%;
    margin: 0 1vw;
    box-shadow: -100px 20px 5px #ffff 100px 20px 10px #ffff;
    animation: animatesnow 15s linear infinite;
    animation-duration: calc(75s / var(--i));
}

.hero-area1 .snow span:nth-child(even) {
    min-width: 10px;
    height: 10px;
}

@keyframes animatesnow {
    0% {
        transform: translateY(-10vh);
    }

     100% {
        transform: translateY(100vh);
    }
}

/* header-area1 end */



/* header-area start */

.header-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    overflow: hidden;
}

.hero-area {
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate1 16s linear infinite;
}

@keyframes animate1 {
    0%{
        transform: rotateX(-20deg) rotateY(360deg);
    }

    100%{
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

.hero-area div {
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}

.hero-area div.hero-item span {
    position: absolute;
    left: calc(50% - 100px);
    width: 200px;
    height: 100px;
    background: #444;
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    transition: 0.5s;
}

.hero-area:hover div.hero-item span {
    background: #f00;
    filter: drop-shadow(0 0 50px #f00);
}

.hero-area div.text span {
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    cursor: pointer;
    color: #ffff;
    font-size: 8em;
    text-transform: uppercase;
    z-index: 10;
    line-height: 1em;
    -webkit-text-stroke: 3px #000;
    transform-style: preserve-3d;
}

.hero-area div.text span:nth-child(1) {
    font-size: 6em;
}

.hero-area div.text span::before {
    content: attr(data-text);
    position: absolute;
    bottom: 7px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0 #fff;
    filter: blur(5px);
}

.hero-area div.text span::after {
    content: "";
    position: absolute;
    top: 100px;
    width: 360px;
    height: 60px;
    background: #444;
    transform: rotateX(-90deg);
    transition: 0.5s;
}

.hero-area:hover div.text span::after {
    background: #f00;
    filter: drop-shadow(0 0 50px #f00);
}

/* header-area end */






.modally-init {
    display: none;
}

.modally-wrap {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    overflow: auto;
    display: none;
    box-sizing: border-box;
}

.modally-wrap .modally-underlay {
    position: fixed;
    background: rgba(23, 23, 23, 0.85);
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.modally {
    margin: 0px auto;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    height: auto;
    background: white;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    padding-top: 48px;
}

.modally .modally-close-button {
    border: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;

    background: transparent;

    position: absolute;
    top: 0px;
    right: 0px;
    padding: 12px 20px;
    font-size: 35px;
    line-height: 23px;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    font-weight: 500;  
}

.modally .modally-close-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.modally-table {
    display: table;
    width: 100%;
    min-height: 100%;
}

.modally-cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.modally .iframe-landing {
    position: relative
}

.modally .iframe-landing iframe,
.modally .iframe-landing video {
    display: block;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0px;
    left: 0px;
    border: none;
}

@media screen and (min-width: 960px) {
    .modally .modally-close:hover {
        opacity: 0.5;
    }
}

@media screen and (max-width: 959px) {
    .modally {
        height: auto;
        max-width: none;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: calc(100% - 40px);
    }
}





/* video-area start */

.video-area {
    padding: 30px 0 0 0;
}

.video-area .hero .cell {
    text-align: center;
    position: relative;
}

.video-area .hero .cell a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    background: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video-area .hero .cell a i {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.video-area .hero .table {
    width: 400px;
    height: 400px;
    margin: 0;
    margin-left: auto;
}

.video-area .hero .cell img {
    width: 400px;
    height: 400px;
    opacity: 0.5;
}

.play-video {

}

.play-video-item {
    width: 400px;
    height: 400px;
    background: teal;
}

.type-area {
    padding: 25px 0 20px 0;
}

.type-area .sbtn {
    background: orangered;  
    margin: 0 10px 0 0;
    border-radius: 10px;
}

.type-area .sbtn a {
    font-family: Arial;
    font-weight: 500;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 15px; 
}

.footer-area {
    background: #444;
}

.footer-area a {
    display: block;
    padding: 15px;
    text-align: center;
    color: #ffff;
}